#background-red
{
	background: #ff505d;
	background-color: #ff505d;
}

.background-red
{
	background: #ff505d;
	background-color: #ff505d;
}

#background-red-darker
{
	background: #d9534f;	
}

#background-red-evendarker
{
	background: #c72828;	
	transition: background 1s;
}
#background-red-evendarker:hover
{
	background: #730e07;
}

.background-red-evendarker
{
	background: #c72828;	
	transition: background 1s;
}
.background-red-evendarker:hover
{
	background: #730e07;
}

#background-overlay-dark
{
	position: fixed;
	background: black;
	opacity: 0.5;
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
}

#background-overlay-dark:hover
{
	opacity: 0.45;
}

#background-image-full
{
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	opacity: 0.2;
}



#button-rounded
{		
	border-radius: 3px;
}

#button-rounded-front-login
{		
	border-radius: 3px;
	width: 50%;
	min-width: 200px;
}

#canvas-content
{
	margin-bottom: 1px;
}
#canvas-login
{
	width: 100%;
	height: 40px;
	line-height: 7px;
}

#circle
{
    font-size: 30px;
    line-height: 24px;
	width: 200px;
	height:200px;
    padding-top: 45px;
	background: rgb(255, 80, 93);
	border-radius: 120px;
	margin-bottom: -50px;

}
.enlarge
{
	min-height: 400px;
	height: 100%;
}

#formbox
{
	border-radius: 90px;
	background: white;
	height: 400px;
	width: 360px;
}
#font
{
	font-family: Rockwell;
	font-size: 22px;
}

#front-where
{
	border: 0px;
}

#front-largebox-top
{
	background: #ff505d; 
	width: 80%; 
	height: 90px;
    border: solid 1px;
    border-top: 0px;
    border-color: #d9534f;
	border-radius: 70px;
	position: absolute;
	top: 460px;
	left: 10%;
	margin-bottom: -40px;
}
#front-largebox-bottom
{
	position: relative;
	background: #ff505d; 
	width: 100%; 
	height: 1500px;
	padding-top: 80px;
	transition: background 0.5s;
    
}
#front-largebox-bottom:hover
{
	background: #d9534f; 
	
}

.global-topbar
{
	background: #ff505d;	
	width: 100%;
	color: white;
	border: 0px;	

	position: fixed;
	top: 0px;
	height: 40px;
}

#hiddenspace-75
{	
	height: 75px;
}

#hiddenspace-50
{
	height: 50px;
}
#hiddenspace-20
{
	height: 20px;
}

#login-button
{
	background: #3276b1;
	border-radius: 4px;
	height: 40px;
	line-height: 10px;
}
#login-register
{
	background: #f0ad4e;
	border-radius: 4px;
	height: 40px;
	line-height: 10px;
}

#map-canvas 
{ 
	height: 93%; 
	width: 70%;	
	padding: 0px;
	margin: 0px;
	
}
#maptweets
{
	background-color:transparent;
    height: 597px; 
    overflow: auto;
}
#map-tweetmodule{
    background-color: white;
    border-radius: 10px;
    margin: 0px;
}

#signin-box
{
	position: absolute;
	top: 50px;	
	right: 5px;
	background: #e9e9e9;
	border-radius: 3px;
	height: 220px;
	width: 300px;
}

#signin-textput
{
	border-radius: 3px;
	padding-top: 100px;
}

#textput
{
	border-radius: 3px;
	width: 80%;
	min-width: 220px;
}

#tweetbox
{
	border-radius: 3px;
	background: white;
	height: 400px;
	width: 600px;	
}

#tweetleft
{
	float: left;
	width: 30%;	
}

#map-otherreport
{	
    background-color:#ff505d;
    color: white;
    height: 35px;
    font-family:'Segoe UI';
    width:24.7em;
    border:none;
    line-height: 1px;
    margin:0;    
	padding: 0px;
}

.right-mod
{	
	border-left-width: 0px;
	background: #ff505d;
	margin-left: 50px;
	width: 100px;
	padding-left: 10px;
	border-left: 0px;
	box-shadow: 0px;	
}

#left-ped
{
	border-right: solid 1px #E05C5C;
}

#right-ped
{	
	border-left: solid 1px #E05C5C;
	font-family: Rockwell;	
	background: #ff505d;
	margin-left: 50px;
	width: 80px;
	padding-left: 10px;
	border-left: 0px;
	
}


.nav.tab-bar
{
	background: #ff505d;	
}

#background-image
{	
	position: fixed;
	top: 0px;
	height: 768px;
	width: 1366px;
	min-height: 768px;	
}

@media(min-width: 1366px)
{	
	#background-image
	{
		height: 100%;
		width: 100%;
	}
}


@media(min-width: 710px) and (max-width: 910px)
{
	#front-largebox-top
	{
		visibility: hidden;
	}
}
@media(min-width: 510px) and (max-width: 710px)
{
	#front-largebox-top
	{
		visibility: hidden;
	}
     #front-largebox-bottom
    {
        height: inherit;
    }
    #minititle
    {
        visibility: collapse;
        margin-right: -100px;
    }
}
@media(min-width: 350px) and (max-width: 510px)
{
	#front-largebox-top
	{		
		visibility: hidden;
	}
     #front-largebox-bottom
    {
        height: inherit;
    
    }
    #minititle
    {
        visibility: collapse;
        margin-right: -120px;
    }
}
@media(min-width: 100px) and (max-width: 350px)
{
	#front-largebox-top
	{		
		visibility: hidden;
	}
    #front-largebox-bottom
    {
        height: inherit;
    }
    #minititle
    {
        visibility: collapse;
       margin-right: -170px;
        
    }
    #modalclick
    {
        
    }
}


.border-left-maroon {
    border-left: solid 1px;
    border-color: rgb(201, 50, 50);    
}

.pad-top-20 {
    padding-top: 20px;
}

.pad-top-50 {
    padding-top: 50px;
}

.pad-top-100 {
    padding-top: 100px;
}

.segoe {
    font-family: Segoe UI Light;
}

#superbottom {
    
}

#img-backdrop {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
}


#welcome-bg {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 1366px;
    width: 100%;
    image-resolution: snap;
    -webkit-filter: blur(0.8px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    
}

#welcome-bg-cover {
    width: 100%;
    height: 100%;    
    position: fixed;    
    top: 0px;
    left: 0px;
    background: #ce2a36;
    opacity: 0.8;
}

#welcome-title {        
    color: white; 
    font-family: Rockwell;
    font-size: 72px;
}

#Welcome-center {
    margin-top: 10em;
}

#welcome-title-sub {
    font-family: Segoe UI Light;
    font-size: 20px;
    color: white;
}
